<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b>1.0.0
  </div>
  <strong>Copyright &copy; 2016 <a href="http://xhape.xyz" target="_blank">Xhape Studio</a>.</strong> All rights
  reserved.
</footer>