<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            {{#link-to 'dashboard-director'}}<i class="fa fa-circle-o"></i> Director{{/link-to}}
          </li>
          <li>
            {{#link-to 'dashboard-supervisor'}}<i class="fa fa-circle-o"></i> Supervisor{{/link-to}}
          </li>
          <li>
            {{#link-to 'dashboard-team-lead'}}<i class="fa fa-circle-o"></i> Lead{{/link-to}}
          </li>
          <li>
            {{#link-to 'dashboard-team-member'}}<i class="fa fa-circle-o"></i> Member{{/link-to}}
          </li>
          <li>
            {{#link-to 'dashboard-client'}}<i class="fa fa-circle-o"></i> Client{{/link-to}}
          </li>
        </ul>
      </li>
      <li>
        {{#link-to 'project'}}
          <i class="fa fa-paint-brush"></i>
          <span>Project</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'capacity'}}
          <i class="fa fa-pie-chart"></i>
          <span>Capacity</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'leave'}}
          <i class="fa fa-calendar-minus-o"></i>
          <span>Leave</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'user'}}
          <i class="fa fa-users"></i>
          <span>User</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'client'}}
          <i class="fa fa-briefcase"></i>
          <span>Client</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'office'}}
          <i class="fa fa-building"></i>
          <span>Office</span>
        {{/link-to}}
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>