<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{title}}
  </h1>
  <ol class="breadcrumb">
    <li>
      {{#link-to 'dashboard'}}<i class="fa fa-dashboard"></i>Home{{/link-to}}
    </li>
    <li class="active">{{title}}</li>
  </ol>
</section>
