<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            {{#link-to 'dashboard-director'}}<i class="fa fa-circle-o"></i> Director{{/link-to}}
          </li>
          <li>
            {{#link-to 'dashboard-supervisor'}}<i class="fa fa-circle-o"></i> Supervisor{{/link-to}}
          </li>
          <li>
            {{#link-to 'dashboard-team-lead'}}<i class="fa fa-circle-o"></i> Lead{{/link-to}}
          </li>
          <li>
            {{#link-to 'dashboard-team-member'}}<i class="fa fa-circle-o"></i> Member{{/link-to}}
          </li>
          <li>
            {{#link-to 'dashboard-client'}}<i class="fa fa-circle-o"></i> Client{{/link-to}}
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="ion ion-easel"></i> <span>Project</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            {{#link-to 'project'}}<i class="fa fa-circle-o"></i> Search/List{{/link-to}}
          </li>
          <li>
            {{#link-to 'project-detail'}}<i class="fa fa-circle-o"></i> Detail{{/link-to}}
          </li>
          <li>
            {{#link-to 'project-edit'}}<i class="fa fa-circle-o"></i> Edit{{/link-to}}
          </li>
        </ul>
      </li>
      <li>
        {{#link-to 'capacity'}}
          <i class="fa fa-bitbucket"></i>
          <span>Capacity</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'leave'}}
          <i class="fa fa-calendar-times-o"></i>
          <span>Leave Calendar</span>
        {{/link-to}}
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog"></i> <span>Admin</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            {{#link-to 'user'}}
              <i class="fa fa-users"></i>
              <span>Users</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'user-detail'}}
              <i class="fa fa-users"></i>
              <span>Use Detail</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'reports'}}
              <i class="fa fa-pie-chart"></i>
              <span>Reports</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'client'}}
              <i class="fa fa-building"></i>
              <span>Clients</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'office'}}
              <i class="fa fa-map-marker"></i>
              <span>Offices</span>
            {{/link-to}}
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>