<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active">
        <a href="index2.html">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="index2.html">
          <i class="fa fa-paint-brush"></i>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="index2.html">
          <i class="fa fa-pie-chart"></i>
          <span>Capacity</span>
        </a>
      </li>
      <li>
        <a href="index2.html">
          <i class="fa fa-calendar-minus-o"></i>
          <span>Leaves</span>
        </a>
      </li>
      <li>
        <a href="index2.html">
          <i class="fa fa-users"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a href="index2.html">
          <i class="fa fa-briefcase"></i>
          <span>Clients</span>
        </a>
      </li>
      <li>
        <a href="index2.html">
          <i class="fa fa-building"></i>
          <span>Offices</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>