<div class="form-group">
  <label>Client</label>
  <select id="client-multiple" class="form-control" multiple="multiple" data-placeholder="Select a Client" style="width: 100%;">
    <option>Google</option>
    <option>LinkedIn</option>
    <option>Facebook</option>
    <option>Instagran</option>
  </select>
</div>
<!-- /.form-group -->
