<div class="form-group">
  <label>{{title}}</label>
  <select id="{{selectId}}" class="form-control" multiple="multiple" data-placeholder="{{placeholder}}"
          style="width: 100%;">
    {{#each options as |option|}}
      <option>{{option.name}}</option>
    {{/each}}
  </select>
</div>
