<div class="form-group">
  <label>Team</label>
  <select id="team-multiple" class="form-control" multiple="multiple" data-placeholder="Select a Team" style="width: 100%;">
    <option>Audit</option>
    <option>Design</option>
    <option>Render</option>
  </select>
</div>
<!-- /.form-group -->