{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!--Search Panel -->
    <div class="col-md-3">
      <div class="box box-pane">
        <div class="box-body">
          <div class="form-group">
            <label>Office</label>
            <select class="form-control">
              <option>Select Office</option>
              {{#each model.offices as |office|}}
                <option>{{office.name}}</option>
              {{/each}}
            </select>
          </div>

          {{multiple-select selectId="team" title="Team" placeholder="Select Team" options=model.teams}}

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box-->
    </div>
    <!-- /. col -->

    <!-- Calendar -->
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-body">
          {{full-calendar events=model.capacities}}
        </div>
      </div>

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>