{{application-content-header title="Dashboard" subTitle="Dashboard for Supervisor with access to Design and Render"}}

<!-- Main content -->
<section class="content">

  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-easel"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Projects</span>
          <span class="info-box-number">30</span>

          {{#link-to "project" class="info-box-more"}}
            More info <i class="fa fa-arrow-circle-right"></i>
          {{/link-to}}
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-4 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="ion-ios-time-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Wait List</span>
          <span class="info-box-number">3</span>

          {{#link-to "project" class="info-box-more"}}
            More info <i class="fa fa-arrow-circle-right"></i>
          {{/link-to}}
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- /.col -->
    <div class="col-md-4  col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-paintbucket"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Leaves</span>
          <span class="info-box-number">3</span>

          {{#link-to "leave" class="info-box-more"}}
            More info <i class="fa fa-arrow-circle-right"></i>
          {{/link-to}}
        </div>

        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- Capacity-->
  <div class="row">

    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Capacity</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
          <div class="row">
            <!-- Daily capacity for each offices -->
            <div class="col-md-6">
              <p class="text-center">
                <strong>Design</strong>
              </p>

              <div class="progress-group">
                <span class="progress-text">North Bay</span>
                <span class="progress-number"><b>9</b>/70</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" style="width: 81.25%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

              <div class="progress-group">
                <span class="progress-text">South Bay</span>
                <span class="progress-number"><b>8</b>/24</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-red" style="width: 50%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

              <div class="progress-group">
                <span class="progress-text">Two</span>
                <span class="progress-number"><b>6</b>/10</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-green" style="width: 0%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

              <div class="progress-group">
                <span class="progress-text">Healthcare</span>
                <span class="progress-number"><b>6</b>/12</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-green" style="width: 0%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

            </div>
            <!-- /.col -->

            <div class="col-md-6">
              <p class="text-center">
                <strong>Render</strong>
              </p>

              <div class="progress-group">
                <span class="progress-text">North Bay</span>
                <span class="progress-number"><b>54</b>/54</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" style="width: 0%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

              <div class="progress-group">
                <span class="progress-text">South Bay</span>
                <span class="progress-number"><b>16</b>/16</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-red" style="width: 0%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

              <div class="progress-group">
                <span class="progress-text">Two</span>
                <span class="progress-number"><b>6</b>/6</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-green" style="width: 0%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

              <div class="progress-group">
                <span class="progress-text">Healthcare</span>
                <span class="progress-number"><b>6</b>/6</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-green" style="width: 0%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->



