{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      {{#each model.projects as |project|}}
        {{project-detail-small project=project}}
      {{/each}}
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->



