{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- Main Panel -->
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Info</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-6 form-detail row">
                  <label class="col-sm-3">PID #</label>
                  <div class="col-sm-9">P123456778</div>
                </div>
                <div class="col-md-6 form-detail row">
                  <label class="col-sm-3">Client</label>
                  <div class="col-sm-9">Standford</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-detail row">
                  <label class="col-sm-3">Address</label>
                  <div class="col-sm-9">Stanford, CA</div>
                </div>
                <div class="col-md-6 form-detail row">
                  <label class="col-md-3">Type</label>
                  <div class="col-md-9"><span class="label label-danger">Revision</span></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-detail row">
                  <label class="col-md-3">Scope</label>
                  <div class="col-md-9">Please conduct full audit.</div>
                </div>
              </div>
              <div class="form-detail">
                <label>Project Files and Information:</label>
                <div>FTP Path: Z:\FTP Files\ProViewStudio\Studio South Bay\Stanford - Industry Courtyard\160422_For
                  Proview
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

      <!-- Deliverables -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Deliverables</h3>
              <div class="pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body pad">
              <form>
                {{wysig-editor}}
              </form>
            </div>
            <!--/.box-body -->
          </div>
          <!--/.box -->
        </div>
      </div>

      <!-- Subtask -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Subtask</h3>
              <div class="pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Add Subtask"><i
                    class="fa fa-plus"></i></button>

                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Assignee</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><i class="fa fa-pencil-square-o"></i> Design Office Space</td>
                  <td>Sansa Stark</td>
                  <td><span class="label label-success">Closed</span></td>
                </tr>
                <tr>
                  <td><i class="fa fa-paint-brush"></i> Render Office Space</td>
                  <td>Jon Snow</td>
                  <td><span class="label label-success">Closed</span></td>
                </tr>
                <tr>
                  <td><i class="fa fa-check-square-o"></i> Audit Office Space Design</td>
                  <td>Tyrion Lannister</td>
                  <td><span class="label label-info">In Progress</span></td>
                </tr>
                </tbody>
              </table>

            </div>
            <!--/.box-body -->
          </div>
          <!--/.box -->
        </div>
      </div>
    </div>
    <!-- ./col-->

    <!-- Right Panels -->
    <div class="col-md-4">

      <!-- People -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">People</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body form-horizontal">
              <div class="form-detail row">
                <label class="col-sm-3">Assignee</label>
                <div class="col-sm-9">Wenthel Javonitalla</div>
              </div>
              <div class="form-detail row">
                <label class="col-sm-3">Updated</label>
                <div class="col-sm-9">Leslie Pearson</div>
              </div>
              <div class="form-detail row">
                <label class="col-sm-3">Created</label>
                <div class="col-sm-9">Leslie Pearson</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Dates-->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Dates</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
              <div class="form-detail row">
                <label class="col-sm-3">Due</label>
                <div class="col-sm-9">May 03, 2016</div>
              </div>
              <div class="form-detail row">
                <label class="col-sm-3">Updated</label>
                <div class="col-sm-9">04-Mar-16 10:07 AM</div>
              </div>
              <div class="form-detail row">
                <label class="col-sm-3">Created</label>
                <div class="col-sm-9">25-Jan-16 2:29 PM</div>
              </div>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
    <!-- ./col-->

  </div>
  <!-- ./row-->


  <!-- /.row-->
</section>