{{application-content-header title="Stanford – Green Industry Courtyard"}}

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Project Details</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div><label class="control-label">PID #:</label><span class="form-control-static">P123456778</span>
          </div>
          <div><label class="control-label">Address:</label><span class="form-control-static">Stanford, CA</span>
          </div>
          <div><label class="control-label">Revision:</label><span
              class="form-control-static">No</span></div>
          <div><label class="control-label">Scope:</label><span
              class="form-control-static">Please conduct full audit.</span>
          </div>
          <div><label class="control-label">Project Files and Information:</label>FTP Path: Z:\FTP Files\ProView
            Studio\Studio South Bay\Stanford - Industry Courtyard\160422_For Proview
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>

    <div class="col-md-4">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Assignee and Date</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div><label class="control-label">Due Date</label><span class="form-control-static">May 02, 2016</span>
          </div>
          <div><label class="control-label">Requested By</label><span class="form-control-static">Jon Smith</span>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>

    <!-- ./col-->
  </div>
  <!-- ./row-->

  <div class="row">
    <div class="col-md-8">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Deliverables</h3>
        </div>
        <!-- ./box-header-->
        <div class="box-body">
          <pre>Finish Notes:

Panels:

-Low Fabric = Meadow/ Upper Fabric = Twinkle/ Low Panel Hard skin = Nickel Metallic

-Trim = Nickel Metallic

-Receptacle = Tungsten (line 4 = black)

-Frosted – Recessed Frameless glass


Series 5:

-Veneer = QC/OP DRK Thin Line Bamboo 3032

-Base = Platinum Metallic



Details:

-Metal = Platinum metallic

-Plastic = Frost



Storage:

-Nickel Metallic

-Laminate Top = Arctic White

-Edge = Arctic White



Scoop Stools:

-Legs = Platinum Metallic

-Plastic = 6682

-Upholstery = grade 7 DesignTex – Dart: Sapphire



Think Chair:

-Plastic = Black

-Back and seat = Buzz2: Tornado 5G65



Large Common Top (Mezzanine level):

-Arctic White

-disk Base = Platinum metallic



Reply Chair:

-Mesh = AR01

-Upholstery = Remix RE11

-Frame = 7207



Credenza:

-Arctic white laminate

-black pulls</pre>
        </div>
      </div>
      <!-- ./box-->
    </div>
    <!-- ./col-->
  </div>
  <!-- ./row-->

</section>