{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
 <div class="row">
   <div class="col-md-4">
     <div class="box box-widget widget-user">
       <!-- Add the bg color to the header using any of the bg-* classes -->
       <div class="widget-user-header bg-aqua-active">
         <h3 class="widget-user-username">Alexander Pierce</h3>
         <h5 class="widget-user-desc">Designer</h5>
       </div>
       <div class="widget-user-image">
         <img class="img-circle" src="img/user1-128x128.jpg" alt="User Avatar">
       </div>
       <div class="box-footer">
         <div class="row">
           <div class="col-sm-6 border-right">
             <div class="description-block">
               <h5 class="description-header">32</h5>
               <span class="description-text">Completed <br/>Projects</span>
             </div>
             <!-- /.description-block -->
           </div>
           <!-- /.col -->
           <div class="col-sm-6 border-right">
             <div class="description-block">
               <h5 class="description-header">6</h5>
               <span class="description-text">Capacity</span>
             </div>
             <!-- /.description-block -->
           </div>
           <!-- /.col -->
         </div>
         <!-- /.row -->
       </div>
     </div>
     <!-- /.widget-user -->
   </div>
 </div>
</section>