{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
 <div class="row">
   <div class="col-md-4">
     <div class="box box-widget widget-user-2">
       <!-- Add the bg color to the header using any of the bg-* classes -->
       <div class="widget-user-header bg-yellow">
         <div class="widget-user-image">
           <img class="img-circle" src="/img/user7-128x128.jpg" alt="User Avatar">
         </div>
         <!-- /.widget-user-image -->
         <h3 class="widget-user-username">Sansa Stark</h3>
         <h5 class="widget-user-desc">Designer</h5>
       </div>
       <div class="box-footer no-padding">
         <ul class="nav nav-stacked">
           <li><a href="#">Capacity<span class="pull-right badge bg-blue">6</span></a></li>
           <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
           <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
         </ul>
       </div>
     </div>
     <!-- /.widget-user -->
   </div>
 </div>
</section>