{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- Search Panel -->
    <div class="col-md-3">
      <div class="box box-pane">
        <div class="box-body">
          <div class="form-group">
            <label>Office</label>
            <select class="form-control">
              <option>Select Office</option>
              <option>North Bay</option>
              <option>South Bay</option>
              <option>Healthcare</option>
              <option>TWO</option>
              <option>Proview Studio</option>
            </select>
          </div>

          {{team-multiple-select}}

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box-->
    </div>
    <!-- /. col -->

    <div class="col-md-9">

      <!-- TABLE: Recently Added Projects -->
      <div class="box box-info">
        <div class="box-body">
          <div class="table-responsive">
            {{user-list-large users=model.users}}
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>