{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Details</h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body form-horizontal">
          <div class="row">
            <div class="form-detail col-md-6 row">
              <label class="col-sm-3">Email</label>
              <div class="col-sm-9">
                <p>sansa@stark.com</p>
              </div>
            </div>
            <div class="form-detail col-md-6 row">
              <label class="col-sm-3">Username</label>
              <div class="col-sm-9">
                <p>sansa.stark</p>
              </div>
            </div>
          </div>
          <!-- ./row-->

          <div class="row">
            <div class="form-detail col-md-6 row">
              <label class="col-sm-3">Office</label>
              <div class="col-sm-9">
                <p>South Bay</p>
              </div>
            </div>
          </div>
          <!-- ./row-->
        </div>

      </div>
    </div>

    <!-- Badge -->
    <div class="col-md-4 col-sm-6">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-yellow">
          <div class="widget-user-image">
            <img class="img-circle" src="img/user7-128x128.jpg" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Sansa Stark</h3>
          <h5 class="widget-user-desc">Designer</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a href="#">South Bay<span class="pull-right badge bg-blue">3</span></a></li>
            <li><a href="#">North Bay<span class="pull-right badge bg-aqua">3</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->

    </div>
    <!--/col -->
  </div>
</section>