{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- Search Panel -->
    <div class="col-md-3">
      <div class="box box-pane">
        <div class="box-body">
          {{multiple-select selectId="office" title="Office" placeholder="Select a Office" options=model.offices}}
          {{multiple-select selectId="team" title="Team" placeholder="Select Team" options=model.teams}}
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box-->
    </div>
    <!-- /. col -->

    <div class="col-md-9">

      <!-- TABLE: Recently Added Projects -->
      <div class="box box-info">
        <div class="box-body">
          <div class="table-responsive">
            {{user-list-large users=model.users}}
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>